{% extends 'homepage.html' %}
{% load static %}
{% block body %}
{% include 'include/_navbar.html' %}
        
        <div class="register-img">
            <img src="{% static 'image/coffee/coffee.jpg' %}" alt="">
            <div class="register-about">
                <h3>Kahve</h3>
                <div style="display: flex;">
                    <li><a href="{% url 'homepage' %}"><i class="fa-solid fa-house"></i></a></li>
                    <li><a href="{% url 'coffee' %}">Kahve</a></li>
                </div>
            </div>
        </div>

        <div class="col-80">
            <form action="" method="GET">
                {% csrf_token %}
                <div class="search2">
                    <input type="search" placeholder="Ne aramıştınız?" name="search">
                    <button><i class="fa-solid fa-magnifying-glass fa-2x"></i></button>
                </div>
            </form>

            <div class="products-col">
                {% for product in products %}
                <a href="{% url 'coffeeAbout' product.id %}">  
                    <div class="card-container">
                        <div class="card-image">
                            <img src="{{ product.imageURL }}" alt="{{ product.name }}">
                            <div class="card-information">{{ product.name }}</div>
                        </div>
                    </div>
                 </a>
                 {% endfor %}
             </div>
             {% include 'include/__pagination.html' with page=products %}
            
        </div>

{% include 'include/_footer.html' %}
{% endblock body %}
